<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name>naturalShop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <filter>
    <filter-name>UTF-Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UTF-Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>base</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>base</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.webul.util.image.VerifyCodeServlet</servlet-class>
    <init-param>
      <param-name>width</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>height</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>codeCount</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/verifyCode</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <distributable/>
  
<!--  <filter>
		<filter-name>WebAuthenticationFilter</filter-name>
		<filter-class>com.webul.web.OAuth2Filter</filter-class>
		<init-param>
			<param-name>app_id</param-name>
			<param-value>09a8d8fc-0bf9-4fd0-9111-1b7a9172784d</param-value>
		</init-param>
		<init-param>
			<param-name>app_key</param-name>
			<param-value>5334163f-5afa-48fe-8114-5d31729e9068</param-value>
		</init-param>
		
	</filter>
	 <filter-mapping>
		<filter-name>WebAuthenticationFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>  -->
</web-app>